{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/404-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:33 GMT -->
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- theme core css -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
<!--added--->
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">



</head>

<body>
     <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/login">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">

            <a href="#" class="search-switch"><img src="#" alt=""></a>
            <a href="#"><img src="/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            {{!-- <p>Free shipping, 30-day return or refund guarantee.</p> --}}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {{!-- {{#if message}} <a href="/logout">Sign out</a>
                                {{else}}<a href="/login">Sign In</a>
                                {{/if}} --}}
                                {{!-- <a href="#">FAQs</a> --}}
                            </div>
                            {{!-- <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    {{!-- <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">About</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="/contacts">Contacts</a></li>
                            <li><a href="/account">Account</a></li>
                        </ul>
                    </nav> --}}
                </div>
                <div class="col-lg-3 col-md-3">
                    {{!-- <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="/img/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div> --}}
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- PAGE LOADING
    ================================================== -->
    {{!-- <div id="preloader"></div> --}}

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- 404 PAGE
        ================================================== -->
        <section class="full-screen bg-img cover-background text-center p-0 background-position-x-60" data-overlay-dark="0" style="background-image: url(/img/bg/bg-1.jpg)"; >
        
         
            <div class="container d-flex flex-column">
                

                <div class="row align-items-center h-100vh">
                    <div class="col-md-6">

                        <div class="page-container">
                            <p >Sorry! We couldn't find that page. Try searching or go to  home page.</p>
                            <p class="alt-font font-weight-700 title text-extra-dark-gray">404</p>
                            <h2 class="display-23 display-lg-16 mb-1-9 text-dark-gray">Page not found</h2>

                            <a href="/" class="butn-style2 m-1" style=" background-color:#343a40;border:none"><span><i class="fas fa-arrow-left me-2"></i>Back to Home</span></a>
                            <a href="/contact" class="butn-style2 m-1" style=" background-color:#343a40;border:none"><span>Contact Us<i class="fas fa-arrow-right ms-2"></i></span></a>
                        </div>

                        <div class="mt-1-9 mt-lg-2-3">
                            <div class="col-12">
                                &copy; <span class="current-year"></span> Male Fashion is Powered by <a href="https://www.chitrakootweb.com/" target="_blank">Male Fashion</a> <a href="#">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        
    </div>
    
    <!-- BUY TEMPLATE
    ================================================== -->
    {{!-- <div class="buy-theme alt-font d-none d-lg-inline-block"><a href="https://wrapbootstrap.com/theme/smartshop-multipurpose-ecommerce-template-WB0N7CT4D" target="_blank"><i class="fas fa-cart-plus"></i><span>Buy Template</span></a></div>

    <div class="all-demo alt-font d-none d-lg-inline-block"><a href="https://www.chitrakootweb.com/contact.html" target="_blank"><i class="far fa-envelope"></i><span>Quick Question?</span></a></div> --}}
    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="/js/main.js"></script>
	
	<!-- all js include end -->
    

</body>


<!-- Mirrored from smartshop.websitelayout.net/404-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:33 GMT -->
</html>
