<!DOCTYPE html>
<html>
  <head>
    <title>Male Fashion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="icon" type="image/jpg" href="img/tick logo.png" sizes="32x32">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
