<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Male Fashion</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <!-- https://fonts.google.com/specimen/Open+Sans -->
  <link rel="stylesheet" href="/admin/css/fontawesome.min.css" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/admin/css/templatemo-style.css">
  <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->

  <!---added--->

   <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body  style="background-color: #f3f2ee;">
  <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="/login">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">

            <a href="#" class="search-switch"><img src="#" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            {{!-- <p>Free shipping, 30-day return or refund guarantee.</p> --}}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            {{!-- <div class="header__top__links">
                                {{#if message}} <a href="/logout">Sign out</a>
                                {{else}}<a href="/login">Sign In</a>
                                {{/if}}
                                <a href="#">FAQs</a>
                            </div> --}}
                            {{!-- <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        {{!-- <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">About</a>
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Contacts</a></li>
                            <li><a href="/account">Account</a></li>
                        </ul> --}}
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    {{!-- <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div> --}}
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

  <div class="container tm-mt-big tm-mb-big">
    <div class="row" >
      <div class="col-12 col-md-6 mx-auto tm-login-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto" style="border-radius:25px">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="tm-block-title mb-4">Welcome to Male Fashion</h2>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <form action="/verifyPassword" method="post" class="tm-login-form"  oninput ="verifyPassword()" onsubmit="return verifyPassword()"
                name="myform">

                {{#if userblock}}
                <h6 style="text-align: center; color:red;font-weight:bold"><b>Your Account is Blocked</b></h6>
                {{/if}}
                <h6 id="invalid" style="text-align: center; color:red;display:none;font-weight:bold"><b>Invalid Email or Password</b></h6>
             
             {{#if verified}}<span class="text-success" style="font-weight:bold">OTP VERIFIED</span>{{/if}}

                {{!-- <div class="form-group">
                  <label for="email">Email</label>
                  <input name="email" type="email" class="form-control validate" id="email" id="pass2" value=""
                    class="pass" placeholder="Enter your Email Address" />
                    <span id="email-error" style="color:red;font-weight:bold"></span>
                </div> --}}
                
                <div class="form-group mt-3">
                  <label for="password">Enter New Password</label>
                  <input name="password" type="password" class="form-control validate" id="password" value=""
                    class="pass" placeholder="Enter your Password"/>
                     <span id="password-error" style="color:red;font-weight:bold"></span>
                </div>

                <div class="form-group mt-3">
                  <label for="password2">Enter Confirm Password</label>
                  <input name="password2" type="password2" class="form-control validate" id="password2" value=""
                    class="pass" placeholder="Enter your Password"/>
                     <span id="password-error" style="color:red;font-weight:bold"></span>
                </div>

                <div class="form-group mt-4">
                  <button type="submit" class="btn btn-info btn-block text-uppercase" >
                    Confirm
                  </button>
                </div>
                </form>
                

                


{{!-- 
                <div class="form-group mt-5">
                     
                    
                  <div class="text-center">
                    <h6 class="mb-1" style="text-align: center; color:white">Dont have an Account ? please Signup</h6>
                   
                    <a href="/signup" class="text-dark"><button type="button" onclick="v()"
                        class="btn btn-info btn-block text-uppercase">
                        Signup
                      </button></a>
                  </div>
                </div> --}}

              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Footer Section Begin -->
    {{!-- <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div> --}}
    <!-- Search End -->
  <script src="/admin/js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="/admin/js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->

  <script>

    if ({{ message }}) {
        document.getElementById("invalid").style.display = "block"
      setTimeout(() => {
        document.getElementById("invalid").style.display = "none"
      }, 2000)
    }

  </script>

  <script>

    function verifyPassword() {
  let y = document.getElementById("email").value;
  const pw1 = document.getElementById("password").value;
  var atposition = y.indexOf("@");
  var dotposition = y.lastIndexOf(".");

 if ((y==""||null)&&(pw1==""||null)){
    document.getElementById("email-error").innerHTML = "Please Enter a valid E-mail Address"
     document.getElementById("password-error").innerHTML = "Enter Valid password"
    
  }

  if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= y.length) {
    document.getElementById("email-error").innerHTML = "Please Enter a valid E-mail Address"
    return false;
  }
  else {
    document.getElementById("email-error").innerHTML = "";
   
  }
   if (pw1 == "") {
    document.getElementById("password-error").innerHTML = "Enter Valid password"
    return false;
  }
  else {
    document.getElementById("password-error").innerHTML = "";
  }
}
    


  </script>
 
 <script>
  
 </script>
  

  <!--added--->

 <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        if({{verified}}){
             Swal.fire({
                            icon: 'Success',
                            title: "Otp Verified Successfully",
                            showConfirmButton: false,
                            timer: 2000
                        })
      }
        
    </script>
</body>

</html>