<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Male Fashion</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <!-- https://fonts.google.com/specimen/Open+Sans -->
  <link rel="stylesheet" href="/admin/css/fontawesome.min.css" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/admin/css/templatemo-style.css">
  <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->

  <!---added--->

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body style="background-color: #f3f2ee;">
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
      <div class="offcanvas__links">
        <a href="/login">Sign in</a>
        <a href="#">FAQs</a>
      </div>
      <div class="offcanvas__top__hover">
        <span>Usd <i class="arrow_carrot-down"></i></span>
        <ul>
          <li>USD</li>
          <li>EUR</li>
          <li>USD</li>
        </ul>
      </div>
    </div>
    <div class="offcanvas__nav__option">

      <a href="#" class="search-switch"><img src="#" alt=""></a>
      <a href="#"><img src="img/icon/heart.png" alt=""></a>
      <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
      <div class="price">$0.00</div>

    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
      <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
  </div>
  <!-- Offcanvas Menu End -->

  <!-- Header Section Begin -->
  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="header__top__left">
              {{!-- <p>Free shipping, 30-day return or refund guarantee.</p> --}}
            </div>
          </div>
          <div class="col-lg-6 col-md-5">
            <div class="header__top__right">
              {{!-- <div class="header__top__links">
                {{#if message}} <a href="/logout">Sign out</a>
                {{else}}<a href="/login">Sign In</a>
                {{/if}}
                <a href="#">FAQs</a>
              </div> --}}
              {{!-- <div class="header__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                  <li>USD</li>
                  <li>EUR</li>
                  <li>USD</li>
                </ul>
              </div> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="header__logo">
            <a href="/"><img src="img/logo.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <nav class="header__menu mobile-menu">
            {{!-- <ul>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="#">About</a>
                <ul class="dropdown">
                  <li><a href="./about.html">About Us</a></li>
                  <li><a href="./shop-details.html">Shop Details</a></li>
                  <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                  <li><a href="./checkout.html">Check Out</a></li>
                  <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
              </li>
              <li><a href="./blog.html">Contacts</a></li>
              <li><a href="/account">Account</a></li>
            </ul> --}}
          </nav>
        </div>
        <div class="col-lg-3 col-md-3">
          {{!-- <div class="header__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
          </div> --}}
        </div>
      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
  </header>
  <!-- Header Section End -->


  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto tm-login-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
              <h1 class="tm-block-title mb-4">Welcome to Male Fashion</h1>
            </div>
          </div>
          {{#if userexist}}
          <h6 style="color:red;text-align:center"><b>User Already Exist Try another Email</b></h6>
          {{/if}}
        
          <div class="row mt-2">
            <div class="col-12">
              <form action="/signuppost" method="post" class="tm-login-form" onsubmit="return verifyPassword()"
                name="myform">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input name="name" type="text" class="form-control validate" id="name" value=""
                    placeholder="Enter your Name" />
                    <span id="name-error" style="color:red;font-weight:bold;"></span>
                </div>


                <div class="form-group">
                  <label for="username">Email</label>
                  <input name="email" type="email" class="form-control validate" id="pass" value=""
                    placeholder="Enter your Email" required />
                    <span id="email-error" style="color:red;font-weight:bold;"></span>
                </div>
                <div class="form-group mt-3">
                  <label for="password">Password</label>
                  <input name="password" type="password" class="form-control validate" id="password" value=""
                    placeholder="Enter Password"  />
                    <span id="password-error" style="color:red;font-weight:bold;"></span>
                </div>
                <div class="form-group mt-3">
                  <label for="password">Re-Enter Password</label>
                  <input name="password2" type="password" class="form-control validate" id="password2" value=""
                    placeholder="Re-Enter Passsword"  />
                    <span id="password2-error" style="color:red;font-weight:bold;"></span>
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input type="tel" class="form-control" id="phoneNumber" placeholder="Enter your phone number"
                    name="phoneNumber" >
                    <span id="phoneNumber-error" style="color:red;font-weight:bold;"></span>
                </div>
              
                <div class="form-group mt-4">
                  <button type="submit" class="btn btn-info btn-block text-uppercase" oninput="validate()" onclick="return validate()">
                    Signup
                  </button>
                </div>

                <h6 style="text-align: center; color:white"> Already Signup ? Please <a href="/login" style="color:white">Login</a></h6>


                <div class="form-group mt-5">
                  <div class="text-center">
                    <a href="/login" class="text-dark"><button type="button" onclick="v()"
                        class="btn btn-info btn-block text-uppercase">
                        Login
                      </button></a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Section Begin -->
  
  <!-- Search End -->
  <script src="/admin/js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="/admin/js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->


  <script src="/admin/js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="/admin/js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->




  <script>
    function validate(){
      
      const name=document.getElementById("name").value
      const email = document.getElementById("pass").value;
      const password = document.getElementById("password").value;
      const password2 = document.getElementById("password2").value;
      const phoneNumber = document.getElementById("phoneNumber").value;
      const atposition = email.indexOf("@");
      const dotposition = email.lastIndexOf(".");
      
if(name==""&&email==""&&password==""&&password2==""&&phoneNumber==""){
  document.getElementById("name-error").innerHTML="Enter Name"
   document.getElementById("email-error").innerHTML = "Please Enter a valid E-mail Address"
    document.getElementById("password-error").innerHTML = "Enter Valid password"
    document.getElementById("password2-error").innerHTML = "Enter Valid password"
     document.getElementById("phoneNumber-error").innerHTML = "Enter Phone Number"
}
      if(name==""||null){
      document.getElementById("name-error").innerHTML="Enter Name"
      return false;
      }else{
        document.getElementById("name-error").innerHTML=""
      }
         if(name.length<3){
        document.getElementById("name-error").innerHTML="Enter Valid Name"
        return false;
      }else{
         document.getElementById("name-error").innerHTML=""
      }
      
      
      if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= email.length) {
        document.getElementById("email-error").innerHTML = "Please Enter a valid E-mail Address"
           return false;
      }else{
         document.getElementById("email-error").innerHTML = ""
      }


      if (password == "") {
        document.getElementById("password-error").innerHTML = "Enter Valid password"
           return false;
      }else{
         document.getElementById("password-error").innerHTML = ""
      }
      
      
      
      if(password2 == ""){
        document.getElementById("password2-error").innerHTML = "Enter Valid password"
           return false;
      }else{
         document.getElementById("password2-error").innerHTML = ""
      }
      
      
      
      if(password!==password2){
        document.getElementById("password2-error").innerHTML = "Password Not Match"
           return false;
      }else{
        document.getElementById("password2-error").innerHTML = ""
      }
      
      
      if(phoneNumber==""){
        document.getElementById("phoneNumber-error").innerHTML = "Enter Phone Number"
        return false;
      }else{
        document.getElementById("phoneNumber-error").innerHTML = ""
      }
      
      if(phoneNumber.length<10){
        document.getElementById("phoneNumber-error").innerHTML = "Enter Valid Number"
        return false;
      }else{
        document.getElementById("phoneNumber-error").innerHTML = ""
      }
    
}
    
  </script>

  

  <!--added--->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>


</body>

</html>